# SQLite databases
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-shm
*.db-wal

# Python/Node environment caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Office Temporary Files
~$*.docx
~$*.xlsx

# OS files
.DS_Store
Thumbs.db
